<head>
    <title>kaa - malerei + skulptur</title>
  <!--    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/compiled/style.css" media="screen"> -->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Der Künstler Kurt Adam Arnold aus Viernheim präsentiert seine Werke. Aktuelle Bilder, Hinweise zu Veranstaltungen und Terminen wie dem Offenen Atelier.">
    <meta name="keywords" content="kurt,arnold,adam,kunst,skulptur,malerei,viernheim,südhessen,hessen,kuss,kultursommer">
    <meta name="title" content="kurt adam arnold - malerei + skulptur">
    <meta name="author" content="Kurt Adam Arnold">

    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">
  <link rel="canonical" href="https://kurt-adam-arnold.de"/>
<!-- .js nicht auf index.html laden!  -->
<!--    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/swipebox-changed.css"> -->
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/modernizr.custom.47253.js"></script>
<!--    <script src="{{site.baseurl}}/assets/js/readmore-js/readmore.min.js"></script>  -->
<!-- modernizr takes care of that !!! -->

<!-- diese Skripte nur bedingt laden! -->
<!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>

    <script type="text/javascript" src="/assets/js/respond.js"></script>
<![endif]-->
</head>
