details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

details > summary {
  list-style: none;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

details > summary:hover {
  transform: translate(6px, 3px);
}


/* Possibly smoother animation on summary show*/
@keyframes details-show {
  from {
    opacity:0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 250ms ease-in-out;
}



