html{scroll-behavior: smooth;}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

details > summary {
  list-style: none;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

details > summary:hover {
  transform: translate(6px, 3px);
}


/* Possibly smoother animation on summary show*/
@keyframes details-show {
  from {
    opacity:0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary) {
  animation: details-show 250ms ease-in-out;
}

a.swipebox img{
  // still overflowing on mobile. probably best is to redesign with grid, if at all.
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: bottom;
  max-height: 96vh !important;  // no need for max-height: min(100%, 96vh) which somehow did not work
  // now with explicit height 100% (which only works with object-fit) the min can be omitted
}

a.swipebox div{
  max-height: 96vh !important;
  max-width: 96vw !important;
  overflow: hidden;
  // height: 400px;
  // width: 200px;
}
